.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-btn {
  height: 40px;
  width: 80px;
  border-radius: 30px;
  background-color: rgb(111, 227, 186);
  color: #1f1c1c;
  font-weight: bold;
  margin-left: 20px;

}

.list-item {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  height: 20px;
  margin-top: -3px;
}

.delete-btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: crimson;
  font-weight: bolder;
}

.list-input {
  width: 300px;
  height: 30px;
  border-radius: 30px;

}

.list-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
 justify-content: center;

}

table, th, td {
  border: 1px solid;
  width: 40%;
  height: 50px;

}

table {
  margin-top: 20px;
}

.table-parent {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title {
  font-size: 50px;
}

